#hr{
  border: 2px solid #000000;
  background-color: #000000;
}

.container{
  margin-bottom: 60px;
  max-width: 60% !important;
}

.row{
  padding: 25px 20px;
}

.button{
  background-color: white;
  color : gray;
  border: 0px;
  border-radius: 10px;
  padding: 0 25px;
  transition: 0.3s;
}

input{
  font-size: large;
}

.input{
  padding: 10px;
  height: 40px;
}

.no-input{
  padding: 10px;
  height: 40px;
  border: 0px;
}

.strike{
  text-decoration: line-through;
}

.no-input:focus{
  outline: none;
}

.button:hover{
  background-color: gray;
  color: white; 
}

.eachTodo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .container {
    max-width: 80% !important;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 96% !important;
  }
}

@media only screen and (max-width: 540px) {
  .task_btn {
    display: flex;
    flex-direction: column;
    height: inherit;
  }
  .task_name{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .first{
    margin-bottom: 10px;
  }
}
