#hr{
  border-top: 3px solid black;
}

.container{
  margin-bottom: 60px;
  width: 60%;
}

.row{
  padding: 25px 20px;
}

.button{
  background-color: white;
  color : gray;
  border: 0px;
  border-radius: 10px;
  padding: 0 25px;
  transition: 0.3s;
}

.input{
  padding: 10px;
  height: 40px;
}

.no-input{
  padding: 10px;
  height: 40px;
  border: 0px;
}

.strike{
  text-decoration: line-through;
}

.no-input:focus{
  border:0px !important;
  box-shadow: none !important;
}

.button:hover{
  background-color: gray;
  color: white; 
}

.eachTodo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}