#hr{
  border-top: 3px solid black;
}

.container{
  margin-top: 50px;
  width: 60%;
}

.row{
  padding: 25px 20px;
}

.button{
  background-color: white;
  color : gray;
  border: 0px;
  border-radius: 10px;
  padding: 0 25px;
  transition: 0.3s;
}

.input{
  padding: 10px;
  height: 40px;
}

.button:hover{
  background-color: gray;
  color: white; 
}

.eachTodo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}